# UNIVERSAL_LICENSE_KEY must be exported as a real shell env var before `bun install`/`bun add`
# runs — this file's ${VAR} interpolation reads the process env, not .env (Next.js only loads
# .env at app runtime, not for the package manager). Run:
#   export $(grep '^UNIVERSAL_LICENSE_KEY=' .env | xargs) && bun install
@hugeicons-pro:registry=https://npm.hugeicons.com/
//npm.hugeicons.com/:_authToken=${UNIVERSAL_LICENSE_KEY}
